
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #000000;
    width: 100%;
}

img {
    position: absolute;
    width: 583px;
    height: 374px;
    left: 728px;
    top: 156px;
}

h2 {
    position: absolute;
    width: 299px;
    height: 20px;
    left: 870px;
    top: 656px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;

    color: #FFFFFF;
}

div {
    display: inline-block;
    position: absolute;
    width: 342px;
    height: 74px;
    top: 705px;
}



.input-min {
    position: absolute;
    width: 342px;
    height: 74px;
    left: 647px;
    background: rgba(255, 255, 255, 0.25);
    border: 5px solid rgba(255, 255, 255, 0.2);
    border-radius: 45px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
}

.input-max {
    position: absolute;
    width: 342px;
    height: 74px;
    left: 1051px;
    background: rgba(255, 255, 255, 0.25);
    border: 5px solid rgba(255, 255, 255, 0.2);
    border-radius: 45px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
}

::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    opacity: 0.8;
    left: 15
}

.drawer {
    position: absolute;
    width: 342px;
    height: 72px;
    left: 650px;
    top: 858px;

    background: #AEC346;
    box-shadow: 0px 18px 40px rgba(174, 195, 70, 0.35);
    border-radius: 45px;

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 2px;
    /* or 7% */

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: row;

    color: #FFFFFF;
    cursor: pointer;
}


button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.8;
}

.result {
    position: absolute;
    width: 400px;
    height: 20px;
    left: 870px;
    top: 600px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 38px;

    color: #FFFFFF;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.reset {
    position: absolute;
    width: 342px;
    height: 72px;
    left: 1050px;
    top: 858px;

    background: #AEC346;
    box-shadow: 0px 18px 40px rgba(174, 195, 70, 0.35);
    border-radius: 45px;

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 2px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: row;

    color: #FFFFFF;
    cursor: pointer;
}

@media (max-width:900px) {
    body{
    width: 80%;
    left: 0;
    right: 0;
}
img {
    position: absolute;
    width: 583px;
    height: 374px;
    left: 80px;
    top: 156px;
}
h2 {
    position: absolute;
    width: 299px;
    height: 20px;
    left: 200px;
    top: 656px;
}
.input-min {
    position: absolute;
    width: 242px;
    height: 74px;
    left: 80px;
}
.input-max {
    position: absolute;
    width: 242px;
    height: 74px;
    left: 388px;
}
.drawer {
    position: absolute;
    width: 242px;
    height: 72px;
    left: 80px;
    top: 858px;
}
.reset {
    position: absolute;
    width: 242px;
    height: 72px;
    left: 388px;
    top: 858px;
}
.result {
    position: absolute;
    width: 400px;
    height: 20px;
    left: 200px;
    top: 600px;
}
}